*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:rgb(0,0,0);
    /* overflow: hidden; */
    height: 100vh;
}
i{
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent,rgb(255,255,255));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}
i:nth-child(3n+1){
    background: linear-gradient(transparent,rgb(255,255,255));
}
i:nth-child(3n+2){
    background: linear-gradient(transparent,rgb(255,255,255));
}
i:nth-child(3n+3){
    background: linear-gradient(transparent,rgb(255,255,255));
}
@keyframes animate{
    0%{
        transform:  translateY(-200px);
    }
    100%{
        transform:  translateY(calc(100vh + 200px));
    }
}